@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to top right, #1e46a3, #000000, #c12a23);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  @apply bg-gray-300 flex items-center border-2 border-gray-400 rounded py-2 px-5 gap-4 mt-6;
}

button:hover {
  @apply bg-gray-600 border-gray-600;
}
